.about {
    background-color:transparent;
    background:url(about.jpg) no-repeat;
    background-size: cover;
        font-size: 1.1em;
  }
  
  .profile {
    max-width: 18em;
  }
  
  .my-details {
    background-color: transparent;
  }
  .font-details {
    font-size: 4em;
    font-weight: 500;
    color: #d4a918f8;
  }
  
  
  