@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.skills{
    background-color: tomato;
}
.focus {
    position:relative;
  top: 0%;
  left: 200px;;
  right:0;
  bottom: 0;
    
    transition: transform 0.3s;
  }
 
  .focus:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 2em;
    font-weight: 700;
  }
  
  .image-style {
    width: 3em;
  }
  
  .font-details {
    font-family:"Roboto Condensed", sans-serif;

    font-size: 3em;
    font-weight: 500;
    color: teal;
  }
  
  .font-details-b {

    font-size: 3em;
    font-weight: 500;
    color: teal;
  }